
*.pyc
Perl/.pls-tmp-*
PHP/vendor
Input/*challenge*
*/.DS_Store
.DS_Store
.DS_Store
/Raku/lib/.precomp
/Swift/AoC2024/AoC2024.xcodeproj/xcshareddata
.DS_Store
Perl/.DS_Store
.DS_Store
PHP/src/.DS_Store
/FSharp
.DS_Store
Perl/.DS_Store
Raku/.DS_Store
