
*.pyc
Perl/.pls-tmp-*
PHP/vendor
Input/*challenge*
*/.DS_Store
.DS_Store
.DS_Store
/Raku/lib/.precomp
/Swift/AoC2024/AoC2024.xcodeproj/xcshareddata
.DS_Store
Perl/.DS_Store
.DS_Store
PHP/src/.DS_Store
/FSharp
.DS_Store
Perl/.DS_Store
Raku/.DS_Store
Raku/.DS_Store
Swift/AoC2024/.DS_Store
.DS_Store
/Scala/AoC2024/src/main/scala/.scala-build
/F\#/AoC2024/obj
/F\#/AoC2024/bin
/Swift/AoC2024/AoC2024.xcodeproj/project.xcworkspace/xcuserdata
